/* 
Use positioning to put the hat and glasses on the octopus 
(you might need to add a div to function as a parent container 
 */


div 
{
  margin: 10px;
  background-color: yellow; 
  border: 1px solid red;
  width: 600px;
  z-index: 4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute; 
}

 #hat 
 {
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
  z-index: 3;
  float: 
 }

 #glasses
 {
  position: absolute;
   display: inline;
  left: 60px;
  top: 150px;
  z-index: 2;
 }

 #octopus
 {
  position: absolute;
   display: inline;
  left: 20px;
  top: 50px;
  z-index: 1;
 }