/* 
Use positioning to put the hat and glasses on the octopus 
(you might need to add a div to function as a parent container 
 */


div 
{
  margin: 10px;
  background-color: yellow; 
  border: 1px solid red;
  width: 600px;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 400px;
}

 #hat 
 {
  position: relative;
  display: inline;
  left: -60px;
  top: 0;
  z-index: 3;
  float: 
 }

 #glasses
 {
  position: relative;
   display: inline;
  top: 38px;
  left: 144px;
  z-index: 2;
 }

 #octopus
 {
  position: relative;
  display: inline;
  top: -126px;
  z-index: 1;
 }